body {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    background: url(ng-colab-space_day.gif) no-repeat;
    background-size: cover;

}

.kdam-thmor pro-regular {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.CALCULADORA {
    width: 400px;
    height: 500px;
    background: url(estrellas.gif) no-repeat;
    background-size: cover;
    border-radius: 10%;

}

#textarea {
    width: 347px;
    height: 30px;
    margin-right: 70px;
    margin-left: 25px;
    margin-top: 20px;
    border: 2px solid black;
    text-align: right;
    font-size: 100%;
    background-color: black;
    color: white;
}

.FILA1 {
    margin-top: 22px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
}

.FILA2 {
    margin-top: 2px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
}

.FILA3 {
    margin-top: 2px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
}

.FILA4 {
    margin-top: 2px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
}

.FILA5 {
    margin-top: 2px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
}

.FILA6 {
    margin-top: 2px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
}

.CALCULADORA input[type=button] {
    font-family: "Kdam Thmor Pro", sans-serif;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 5px;
    color: white;
}

.CALCULADORA input[type=reset] {
    font-family: "Kdam Thmor Pro", sans-serif;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 5px;
    color: white;
}

#naranja {
    background-color: orange;
}

#gris {
    background-color: grey;
}

#negro {
    background-color: red;
}